@import 
url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poltawski+Nowy&display=swap');

body{
  font-family: 'Poltawski Nowy', serif;
  margin:0;
  background-color: lightgray;
}
h1{
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  font-size: 4em;
}
header{
  width: 100%;
}
main{
  max-width: 1200px;
  margin: 20px auto;
}
footer{
  text-align: center;
  border-top: 1px solid gray;
  padding: 10px;
  background-color: pink;
  width: 100%;
}

a:link{
color: purple;
}
a:visited{
color: purple;
}
a:hover{
color: blue;
}
a:active{
color: black;
}

/* Vertical Navigation bar */

nav{
  background-color: hotpink;
  border-top: 2px lightpink;
  border-cottom: 2px lightpink;
  padding: 5px;
  width: 100%;
}
nav ul{
  list-style-type: none;
  text-align: center;
}
nav li{
  display: inline;
}
nav a{
  text-decoration: none;
  padding-right: 10px;
}
nav a:link{
  color: black;
}
nav a:visited{
  color: black;
}
nav a:hover{
  color: skyblue;
}
nav a:active{
  color: darkgreen;
}
.fa {
  color: #6495ed;
  font-size: 1em;
}
.container-fluid .fa{
  font-size: 4em;
}
.gallery .preview{
    width:100%
    height:auto;
}

/* Galley */
.gallery .gallery-thumbnails img {
    width:100px;
    height:75px;
    margin: 3px 10px 10px 0;
}

.gallery .gallery-thumbnails img:hover {
    opacity: .8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}

/* CSS Adjustments for Tablets */

@media only screen and (max-width: 1024px){
  h1{
    font-size: 2em;
  }
}

/* CSS Adjustments for Smartphones */

@media only screen and (max-width: 768px){
  h1{
    font-size: 1.5em;
  }
}
